.footer {
  /* background-color: #727fa8 ;   */
  /* Light blue background color */
  /* #2563EB; */
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45, 55, 72, var(--bg-opacity)) /* #2d3748 */;
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 1rem 0; /* Padding to give some space around the text */
  font-size: 16px; /* Font size */
  position: fixed; /* Make the footer stay at the bottom */
  bottom: 0;
  left: 0;
  width: 100%; /* Ensure the footer spans the full width */
  z-index: 100; /* Ensure the footer is on top of other elements */
}